@model HomeModel

@{
    ViewData["Title"] = "Home";
}

<section class="popular p-5">
    <div id="slider" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            @{
                var b = 0;
                @for (int i = 0; i < Model.Popular.Count; i++)
                {
                    var itemClass = b++ == 0 ? "active" : " ";
                    <li data-target="#slider" data-slide-to="@(i)" class="@itemClass"></li>
                }

            }
        </ol>

        <div class="carousel-inner">
            @{
                var a = 0;
                foreach (var item in Model.Popular)
                {
                    var itemClass = a++ == 0 ? "active" : " ";
                    <div class="carousel-item @itemClass">
                        <img class="d-block w-100 h-60" src="~/img/blog/@item.ImageUrl" width="400" height="600" alt="First slide">
                        <div class="carousel-caption mb-3 d-none d-md-block">
                            <div class="carousel-category" style="color:white">
                                @foreach (var slidercategory in item.BlogCategories)
                                {
                                    <i class="@slidercategory.Category.IconClass ml-2"></i>
                                    <a asp-controller="Home" asp-action="BlogList" asp-route-url="@slidercategory.Category.Url" class="d-inline-block font-weight-bold">
                                        @slidercategory.Category.Name
                                    </a>
                                }


                            </div>

                            <a class="text-left" asp-controller="Home" asp-action="BlogDetails" asp-route-url="@item.Url">@item.Name</a>
                            <p>Okunma Sayısı: @item.ClickCount</p>
                        </div>
                    </div>
                }
            }


        </div>
        <a class="carousel-control-prev" href="#slider" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#slider" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>


    </div>



</section>

<section class="my-5 mx-3 news p-3">
    <h1 class="display-4 text-center">Haberler</h1>
    <hr class="my-4">
    <ul class="timeline">
        @foreach (var blog in Model.GetAll)
        {
            @await Html.PartialAsync("_blog", blog);
        }


    </ul>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @for (int i = 0; i < Model.PageModel.TotalPage; i++)
            {
                <li class="page-item @(Model.PageModel.CurrentPage==i+1 ? "active":"")">
                    <a class="page-link" href="/?page=@(i+1)">@(i+1)</a>
                </li>
            }
        </ul>
    </nav>
</section>


@section Scripts{
    <script>
        ScrollReveal().reveal('#slider ,.the-most-clicked,.the-most-clicked-small', {
            delay: 100,
            origin: 'top',
            distance: '5px'
        });
        ScrollReveal().reveal('.timeline-news p', {
            delay: 100,
            origin: 'left',
            distance: '10px'
        });
    </script>
}
