<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Dashboard</title>

    <!-- Fontfaces CSS-->
    <link href="~/css/font-face.css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">

    <!-- Bootstrap CSS-->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" media="all">
    <link href="~/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <!-- Vendor CSS-->
    <link href="~/css/animsition.min.css" rel="stylesheet" media="all">
    <link href="~/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="~/css/animate.css" rel="stylesheet" media="all">
    <link href="~/css/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="~/css/slick.css" rel="stylesheet" media="all">
    <link href="~/css/select2.min.css" rel="stylesheet" media="all">
    <link href="~/css/perfect-scrollbar.css" rel="stylesheet" media="all">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />    

    <!-- Main CSS-->
    <link href="~/css/theme.css" rel="stylesheet" media="all">

</head>
<body class="animsition">
    <div class="page-wrapper">
        @await Html.PartialAsync("_AdminHeader")

        <div class="page-content--bgf7">
            <!-- BREADCRUMB-->
            <section class="au-breadcrumb2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="au-breadcrumb-content">
                                <div class="au-breadcrumb-left">
                                    <span class="au-breadcrumb-span">Şu an buradasın:</span>
                                    <ul class="list-unstyled list-inline au-breadcrumb__list">
                                        <li class="list-inline-item active">
                                            <a href="#">Admin</a>
                                        </li>
                                        <li class="list-inline-item seprate">
                                            <span>/</span>
                                        </li>
                                        <li class="list-inline-item">@ViewData["pageName"]</li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END BREADCRUMB-->
            <!-- WELCOME-->
            <section class="welcome p-t-10">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="title-4">
                                Hoşgeldin,
                                <span>@User.Identity.Name</span>
                            </h1>
                            <hr class="line-seprate">
                        </div>
                    </div>
                </div>
            </section>
            <!-- END WELCOME-->

            @RenderBody()


        </div>
    </div>
    <!-- Jquery JS-->
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="~/js/slick.min.js">
    </script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/animsition.min.js"></script>
    <script src="~/js/bootstrap-progressbar.min.js">
    </script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/jquery.counterup.min.js">
    </script>
    <script src="~/js/circle-progress.min.js"></script>
    <script src="~/js/perfect-scrollbar.js"></script>
    <script src="~/js/Chart.bundle.min.js"></script>
    <script src="~/js/select2.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    @if (TempData["message"] != null)
    {
        var message = TempData.GetMessage<AlertMessage>("message");
        <script>
            toastr.options = {
            "closeButton": true,
                "debug": false,
                "newestOnTop": true,
                "progressBar": true,
                "positionClass": "toast-top-left",
                "preventDuplicates": false,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }

        toastr["@message.AlertType"]("@message.Message")
    </script>


    }
    <!-- Main JS-->
    <script src="~/js/main.js"></script>
    @if (IsSectionDefined("CustomJS"))
    {
        @RenderSection("CustomJS", false)

    }

</body>
</html>