@model BlogCategoriesViewModel
@{
    Layout = "_AdminLayout";
    ViewData["pageName"] = "Blog Oluştur";
}


<form method="post" asp-controller="Admin" class="mx-auto my-5 col-lg-6" asp-action="BlogCreate" enctype="multipart/form-data">
    <input type="hidden" name="userId" value="@User.Identity.Name" />
    <div class="form-group">
        <label asp-for="@Model.Blog.Name"></label>
        <input class="form-control" asp-for="@Model.Blog.Name" required />
        <span asp-validation-for="@Model.Blog.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Blog.Content"></label>
        <textarea class="form-control" asp-for="@Model.Blog.Content" id="editor"></textarea>
        <span asp-validation-for="@Model.Blog.Content" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="@Model.Blog.ImageUrl" type="hidden" />
        <input type="file" name="file" required accept="image/png, image/jpeg" />
        <span asp-validation-for="@Model.Blog.ImageUrl" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Kategoriler</label>
        @foreach (var item in Model.Categories)
        {
            <div class="custom-control custom-checkbox">
                <input type="checkbox"
                       class="custom-control-input"
                       name="categoryId"
                       value="@item.Id"
                       id="category_@(item.Id)">
                <label class="custom-control-label" for="category_@(item.Id)">@item.Name</label>
            </div>
        }
    </div>
    <div class="form-group">
        <label asp-for="@Model.Blog.ReadTime"></label>
        <input class="form-control" asp-for="@Model.Blog.ReadTime" required min="1" />
        <span asp-validation-for="@Model.Blog.ReadTime" class="text-danger"></span>
    </div>


    <input type="submit" class="btn btn-success" />
</form>
@section CustomJS{
    <script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('editor');
    </script>
}